/*
Theme Name: Factorysnc Child
Theme URI: 
Description: 
Author: Factorysnc
Author URI: https://www.factorysnc.com
Template: factorysnc
Version: 0.1.0
Tags: 
Text Domain: factorysnc-child
*/

/* Supporto Antialiasing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noscroll{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#menu-overlay {
  position: fixed;
  background: rgba(51, 55, 69, 0.80);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: auto!important;
}

#menu-overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

#menu-overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
#menu-overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
#menu-overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
#menu-overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}

/* Navigation Title */
#menu-overlay .nav-title {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 8%;
}

#menu-overlay nav {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}
#menu-overlay ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  position: relative;
  height: 100%;
  margin: 0 15px;
  max-width: calc(100% - 15px);
}
#menu-overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 1.25em;
}
#menu-overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  transition: opacity .15s;
}

#menu-overlay ul li a:hover,
#menu-overlay ul li a:focus,
#menu-overlay ul li a:active {
  opacity: .7;
}
#menu-overlay ul li a:hover:after,
#menu-overlay ul li a:focus:after,
#menu-overlay ul li a:active:after {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}

button:focus {
  outline: 0;
}

.open-menu,
.close-menu,
.button {
  cursor: pointer;
  transition: transform 0.30s;
}
.open-menu:hover,
.close-menu:hover,
.button:hover {
  transform: scale(1.1);
}

#menu-overlay ul li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 43.5%;
  width: 0%;
  transform: translateX(-50%);
  height: 2px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*
---- Responsive
*/

@media (max-width: 670px) {
  #menu-overlay nav {
    font-size: 30px;
  }
}
@media (max-width: 550px) {
  #menu-overlay nav {
    font-size: 20px;
  }
}