@mixin position($x, $y) {
	position: absolute;
	top: $y;
	left: $x;
	transform: translate(-$x, -$y);
}

@mixin circle($color){
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: $icon-size;
	height: $icon-size;
	padding: 0 !important;
	line-height: $icon-size;
	text-align: center;
	// background-color: $background;
	border: $color 1px solid;
	color: $color;
}