$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: white;
$third-color: #525252;
$parallax-height: 75vh;
$parallax-min-height: 250px;
$main-transition: all .5s ease;
$margin-small: 2.5%;
$font-size-s: 30px;
$custom-logo-height: 44px;
$icon-size: 36px;

@import "style-mixins";

body {
	font: 100% $font-stack;
	color: $primary-color;
	
	nav{
		img.custom-logo{
			height: $custom-logo-height;
			width: auto;
		}
		button.navbar-toggler{
			border-color: rgba(0, 0, 0, 0)!important;
			cursor: pointer;
			font-size: $icon-size;
			outline: 0;
			z-index: 1;
		}
	}


	article{
		background: $secondary-color;

		.page-image{
			height: $parallax-height;
			min-height: $parallax-min-height;
			h1{
				@include position(50% , 50%);

				text-align: center;
				color: $secondary-color;
			}
		}

		img.content-img{
			cursor: pointer;
		}

		.page-gallery{
			.wrapper{
				position: relative;
				cursor: pointer;
				.overlay{
					padding: $margin-small;
					background-color: $secondary-color;
					position: absolute;
					top: $margin-small;
					left: $margin-small;
					opacity: 0;
					transition: $main-transition;
					width: 100% - $margin-small * 2;
					height: 100% - $margin-small * 2;
					.text{
						width: 100% - $margin-small * 4;
						text-align: center;
						@include position(50% , 50%);
					}
				}
				&:hover{
					.overlay{
						opacity: 1;
					}
				}
				i{
					@include position(50%, 50%);
					font-size: $font-size-s;
					color: $secondary-color;
				}
			}
		}
	}
	#footer-wrapper{
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: -1;
		footer{
			i.circle{
				@include circle($third-color);
				transition: $main-transition;
				&:hover{
					color: white;
					background: $third-color;
				}
			}
		}

	}
}